[submodule "schema/crossplane"]
	path = schema/crossplane
	url = git@github.com:crossplane/crossplane.git
[submodule "schema/provider-kubernetes"]
	path = schema/provider-kubernetes
	url = git@github.com:crossplane-contrib/provider-kubernetes.git
